/* CALISTOGA FONT */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
/* INTER FONT */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:wght@300;400;500;600;700;800&display=swap');

/* VARIABLES */
:root {
    /* COLORS */
    --white: #F7F4EF;
    --white_alt: #F6F6F6;
    --red: #EF5468;
    --chartreuse: #E2FA18;
    --yellow: #FFE971;
    --black: #211D1D;
    --blue: #4D4DED;

    --zoom: #4D4DED;
    --doordash: #F72E09;
    --uber: #2B383D;
    --venmo: #3D95CE;

    --zoom_glow: #4856DD80;
    --doordash_glow: #F72E0980;
    --uber_glow: #2B383D80;
    --venmo_glow: #3D95CE80;
    
    --zoom_secondary: #818CFF;
    --doordash_secondary: #FFA843;
    --uber_secondary: #607466;
    --venmo_secondary: #0A1C60;

    --gradient_main: linear-gradient(45deg, #4856DD, #F72E09);

    --fade_white1: rgba(225,225,225,0.3);
    --fade_white2: rgba(255,255,255,0.5);
    --fade_black: rgba(0,0,0,0.5);
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}