html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: var(--white);
  overflow-x: hidden;
  overflow-y: scroll;

  font-family: "Inter", sans-serif;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 1200px;
  background: url('../images//WaveYellow3.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  pointer-events: none;

  z-index: 0;
}

.hero {
  padding: 100px 50px 0;
  min-height: 450px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 20px;
}

.hero_title {
  font-family: "Calistoga";
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: left;
}

.hero_subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.members {
  position: relative;
  width: 100%;
  height: 600px;
  padding-bottom: 30px;
  
  display: grid;
  place-items: center;
}

/* .members::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  background: url('./images//WaveYellow.png');
  background-size: cover;
  background: ;
} */

.members_container {
  position: relative;
  width: 85vw;
  min-height: 500px;
  overflow: hidden;

  border: 1px solid transparent;
  border-radius: 15px;

  transition: background 0.1s, box-shadow 0.1s;

  display: grid;
  z-index: 2;
}

.members_container.enter {
  background: var(--fade_white1);
  box-shadow: 0px 0px 20px #00000030;

  border: 1px solid #ffffff60;
}

.members_slider {
  display: flex;

  min-height: 100%;
}

.member_section {
  width: 85vw;
  height: 100%;
  padding: 20px;
  /* background: var(--blue); */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.member_title {
  background: var(--black);
  display: inline-block;
  min-width: 200px;
  max-width: min-content;
  min-height: 40px;
  padding: 5px 15px;
  border-radius: 30px;
  margin-bottom: -10px;
  box-shadow: 0px 5px 15px 5px #00000050;

  display: grid;
  place-items: center;

  color: var(--yellow);
  font-size: 16px;
  font-weight: 500;
  text-shadow: 0px 0px 10px #FFE97160;
  text-transform: capitalize;
  text-align: center;

  z-index: 3;
}

.member_picture_box {
  background: var(--black);
  box-shadow: 0px 5px 15px #00000040;
  width: 80%;
  height: 300px;
  border-radius: 10px;
  pointer-events: none;
  overflow: hidden;
  border: 2px solid var(--black);

  z-index: inherit;
}

#zhangyang {
  background: url('../images/pictures/Zhangyang.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#reehab {
  background: url('../images/pictures/Reehab.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -100px 0;
}

#madeline {
  background: url('../images/pictures/Maddie.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#mahroo {
  background: url('../images/pictures/Mahroo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -80px;
}

#kayla {
  background: url('../images/pictures/Kayla.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#steven {
  background: url('../images/pictures/Steven.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#angeline {
  background: url('../images/pictures/Angeline.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#isadora {
  background: url('../images/pictures/Isa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#febrian {
  background: url('../images/pictures/Febrian.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -150px 0;
}

#joseph {
  background: url('../images/pictures/Joseph.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -30px;
}

#ernest {
  background: url('../images/pictures/Ernest.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -30px;
}

.member_name {
  background: var(--fade_white1);
  padding: 15px 20px;
  backdrop-filter: blur(8px);
  margin-top: -20px;
  border-radius: 15px;
  border: 1px solid #ffffff30;
  box-shadow: 0px 0px 20px #00000030;

  font-size: 24px;
  font-family: "Calistoga";
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  white-space: nowrap;

  z-index: inherit;
}

.member_socials {
  max-width: 160px;
  min-height: 40px;
  padding: 10px 25px;
  background: var(--black);
  margin-top: 20px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 25px;
}

/* .member_socials a {
  display: grid;
  place-items: center;
} */

.member_socials a i {
  color: var(--white);
  font-size: 23px;
  cursor: pointer;
  /* transition: color 0.4s; */
}

.member_socials a i:hover {
  color: var(--yellow);
}

.member_socials div {
  width: 21px;
  height: 21px;
  overflow: hidden;
  cursor: pointer;

  display: grid;
  place-items: center;
}

.member_socials div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member_socials div:hover {
  background: url('../images/Handshake_logo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.member_socials div:hover img {
  opacity: 0;
}

#next-btn,
#prev-btn {
  font-size: 25px;
  color: var(--white);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  background: var(--black);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 20px var(--fade_black);

  /* transition: background 0.1s, color 0.1s; */

  display: grid;
  place-items: center;
}

#next-btn {
  right: 15px;
}
#prev-btn {
  left: 15px;
}

#next-btn:hover,
#prev-btn:hover {
    background: var(--yellow);
    color: var(--black);
}

#next-btn:focus,
#prev-btn:focus {
  outline: none;
}

@media (max-width: 375px) {
  .members_container {
    width: 350px;
  }

  .member_section {
    width: 350px;
  }

  #next-btn {
      right: 5px;
  }
  #prev-btn {
      left: 5px;
  }
}

@media (max-width: 350px) {
  .members_container {
    width: 320px;
  }

  .member_section {
    width: 320px;
  }

  .member_name {
      font-size: 20px;
  }

  #next-btn {
      right: 5px;
  }
  #prev-btn {
      left: 5px;
  }
}

/* @media (min-width: 550px) {
  .hero {
    row-gap: 20px;
    padding: 150px 100px 0;
    min-height: 450px;
  }

  .hero_title {
    font-size: 60px;
  }

  .hero_subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
  }

  .members {
      height: 650px;
  }

  .member_title {
      font-size: 20px;
      white-space: nowrap;

      min-width: unset;
      max-width: unset;
      min-height: 60px;
      padding: 5px 30px;
      margin: 0px 220px -15px 0px;

      align-self: center;
  }

  .member_picture_box {
      width: 280px;
      height: 380px;
  }

  .member_name {
      font-size: 34px;
      font-weight: 550;

      padding: 15px 25px;

      align-self: flex-end;
      margin: -20px 25px 0 0;
  }

  .member_socials {
      max-width: 200px;
      min-height: 50px;
      margin: -5px 60px 0 0;
      padding: 0px 35px;
      
      align-self: flex-end;
  }

  .member_socials a i {
      font-size: 26px;
  }

  .member_socials div {
      width: 24px;
      height: 24px;
  }

  #next-btn,
  #prev-btn { 
      width: 65px;
      height: 65px;

      font-size: 30px;
  }

  #next-btn {
      right: 25px;
  }

  #prev-btn {
      left: 25px;
  }

} */
/* 
@media (min-width: 1025px) {
  .hero {
    align-items: flex-start;
  }

  .hero_subtitle {
    margin-bottom: 100px;
    text-align: left;
    white-space: pre-line;
  }

  .members {
    height: 650px;
  }

  .members_container {
    width: 75vw;
  }
  
  .member_section {
    width: 75vw;
  }

  .member_name {
    text-align: left;

    padding: 20px 35px;
  }

  .member_socials {
    z-index: 2;
    box-shadow: 0px 0px 15px #00000040;
    margin: -10px 10px 0 0;
  }
} */
