.footer {
    position: relative;
    background: var(--black);
    width: 100%;
    height: 350px;
    margin-top: 50px;
    padding: 45px 30px 30px;
    /* padding: 50px 35% 30px 40px; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer_logos {
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    z-index: 1;
}

.footer_logo {
    width: 50%;
    margin-right: 10px;

    overflow: hidden;
    cursor: pointer;

    display: grid;
    place-items: center;
}

.footer_logo img {
    width: 100%;
    filter: invert(1);
}

.footer_desc {
    font-size: 10px;
    font-weight: 600;
    color: var(--white);
    line-height: 15px;
    margin-bottom: 20px;

    z-index: 1;
}

.footer_bar {
    height: 1px;
    width: 200px;
    background: var(--white);
    margin-bottom: 20px;
}

.footer_socials {
    display: flex;
    align-items: center;

    z-index: 1;
}

.footer_social_container {
    background: var(--white);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin-right: 10px;

    transition: background 0.3s;

    display: grid;
    place-items: center;
}

.footer_social_container i {
    color: var(--black);
    font-size: 18px;
    transition: color 0.3s;
}

.footer_social_container:hover {
    background: var(--blue);
}

.footer_social_container:hover i {
    color: var(--white);
}

@media (min-width: 680px) {
    .footer {
        height: 350px;
        /* padding-right: 40%; */
    }

    .footer_logo {
        width: 180px;
    }

    .footer_desc {
        font-size: 12px;
        line-height: 20px;
        white-space: pre-line;
    }

    .footer_social_container {
        width: 45px;
        height: 45px;
    }

    .footer_social_container i {
        font-size: 22px;
    }
}