body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    background: var(--white);
    overflow-x: hidden;

    font-family: 'Inter', sans-serif;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

section {
    position: relative;
    width: 100%;
}

.hero {
    padding: 0px 40px;
    height: 450px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 40px;
}

.hero_title {
    font-family: 'Calistoga';
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 55px;
    text-align: left;
}

.hero_subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.manual_list{
    position: relative;
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.manual_items{
    position: relative;
    width: 85%;
    min-height: 65px;
    cursor: pointer;
    padding: 0 20px;
    /* box-shadow: 0px 3px 8px var(--fade_black); */

    transition: box-shadow 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
}

.manual_items:hover {
    box-shadow: 0px 4px 12px 3px #00000060;
}

.manual_title {
    padding: 15px 0;

    font-family: 'Inter';
    font-size: 16px;
    font-weight: 450;
    color: var(--white);
    text-align: center;
    text-shadow: 0px 0px 3px var(#00000020);
}

.manual_items:nth-child(1n){
    background-image: linear-gradient(55deg, var(--zoom) , var(--zoom_secondary));
}

.manual_items:nth-child(2n){
    background-image: linear-gradient(180deg, var(--zoom) , var(--zoom_secondary));
}

.manual_items:nth-child(3n){
    background-image: linear-gradient(-55deg, var(--zoom) , var(--zoom_secondary));
}

.manual_button {
    display: none;
}

/* @media only screen and (min-width: 375px) {
    .hero_title {
        font-family: 'Calistoga';
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-align: center;
    }
    
    .manual_items{
        width: 90%;
    }

    .manual_title {
        width: 260px;
        font-size: 22px;
    }    
    
    .manual_button {
        display: none;
    }
    
} */

/* @media only screen and (min-width: 414px) {
    .hero_title {
        font-family: 'Calistoga';
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-align: center;
    }
    
    .manual_title {
        width: 260px;
        font-size: 22px;
    }    
    
    .manual_button {
        display: none;
    }
    
} */

@media only screen and (min-width: 550px) {
    .hero {
        padding-left: 60px;
    }

    .hero_title {
        font-size: 60px;   
    }

    .hero_subtitle {
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
      }
    
    .manual_title {
        font-size: 18px;
    }    
}

/* @media only screen and (min-width: 1024px) {
    .hero_title {
        font-family: 'Calistoga';
        font-size: 80px;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-align: center;
    }
    
    .manual_title {
        width: 900px;
        padding: 25px 90px;

        font-size: 28px;
        text-align: center;
    }    

    .manual_button {
       display: none;
    }
} */

@media only screen and (min-width: 1024px) {
    .hero {
        align-items: flex-start;
        row-gap: 30px;
        padding: 0 100px;
    }

    .hero_title {
        font-size: 65px;
    }

    .hero_subtitle {
        line-height: 26px;
    }

    .manual_items{
        justify-content: stretch;
        padding: 0px 30px 0px 45px;
        min-height: 70px;
        cursor: default;
    }

    .manual_items:hover {
        box-shadow: unset;
    }
    
    .manual_title {
        font-size: 18px;
        font-weight: 600;
        text-align: left;
        flex-grow: 1;
    }    

    .manual_button {
        width: 200px;
        height: 40px;
        border-radius: 10px;
        background-color: var(--white);
        border: 0;
        outline: 0;
        /* box-shadow: 0px 0px 5px var(--fade_black); */

        transition: box-shadow 0.5s;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 16px;
        font-weight: 700;
        color: var(--blue);
        cursor: pointer;
    }

    .manual_button span {
        position: relative;
        transition: padding 0.4s;

        display: flex;
        align-items: center;
    }
    
    .manual_button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        right: -25px;
        margin-bottom: 1.5px;
        font-size: 27px;
        transition: opacity 0.5s, transform 0.5s;
    }

    .manual_button:hover {
        box-shadow: 0px 0px 10px var(--fade_black);
    }
    
    .manual_button:hover span {
        padding-right: 35px;
    }
    
    .manual_button:hover span:after {
        opacity: 1;
        transform: translateX(-30px);
    }
}